/* 
main grey : #F2F2F2
main blue : #0065FC
lieghten blue : #DEEBFF
 */


/* 
 *
 * =========== Pour plus de fun, rdv L.145
 *
 */


 /* lire le READ ME pour les font-face */
@font-face {
    font-family: "raleway";
    src: url("/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "ralewayItalic";
    src: url("/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}

/* GENERAL */
* {
    box-sizing: border-box;
    margin: initial;
    padding: initial;
    text-align: initial;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-size: 16px;
    font-family: 'raleway', 'arial', 'sans-serif';
}
a{
    color: inherit;
}
/* HEADER */
.mainHeader{
    display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
}
.mainHeader-logo{
    height: 3rem;
    margin: 1.5rem ;
}
.mainHeader-sub{
    color: #0065FC;
    font-weight: 800;
    margin: 1.5rem;
}
/* ---nav */
.mainHeader-nav{    
    width: 100%;
}
.mainHeader-nav-bloc{        
    display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    width: 100%;
}
.mainHeader-nav-bloc-item{
    border-bottom: 0.2rem solid #F2F2F2;
    font-weight: 500;
    padding: 0.7rem;
    text-align: center;
    width: 50%;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
}
.mainHeader-nav-bloc-item:hover{
    transform: scaleX(0.9);
    -webkit-transform: scaleX(0.9);
    -moz-transform: scaleX(0.9);
    -ms-transform: scaleX(0.9);
    -o-transform: scaleX(0.9);
}
.mainHeader-item-selected{
    border-bottom: 0.2rem solid #0065FC;
    color: #0065FC;
}
/* SEARCH */
.mainWrapper-sort{
    padding: 1rem 2rem;
}
.mainWrapper-sort-search{
    padding: 1rem 0;
}
.mainWrapper-sort-search-catchphrase{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0.5rem 0;
}
.mainWrapper-sort-search-subCatchphrase{
    margin: 1rem 0;
}
/* ---form */
.mainWrapper-sort-search-searchForm{
    display: flex;
        align-items: stretch;
        flex-direction: row;
        justify-content: flex-start;
    position: relative;
    width: 100%;
}
.mainWrapper-sort-search-searchForm-icone{
    background-color: #F2F2F2;
    padding: 1.3rem 1.5rem;
    border-radius:1rem 0 0 1rem;
    -webkit-border-radius:1rem 0 0 1rem;
    -moz-border-radius:1rem 0 0 1rem;
    -ms-border-radius:1rem 0 0 1rem;
    -o-border-radius:1rem 0 0 1rem;
}
.mainWrapper-sort-search-searchForm-input{
    border: 0.1rem solid #F2F2F2;
    font-size: 1.2rem;
    font-weight: 600;
    flex: 1;
    padding: 0 1rem;
    margin-right: 3rem;
}
.mainWrapper-sort-search-searchForm-input::placeholder{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1rem;   
    opacity: 1;
}
.mainWrapper-sort-search-searchForm-submit{
    border: none;
    background-color:  #0065FC;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0 1.2rem;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    /* POUR UN PEU D'HUMOUR, LE DECOMMENTER. HS AVEC LA MAQUETTE MAIS RAJOUTE UNE TOUCHE DE FUN => + L.530 */

    /* transition: background-color 0.5s, right 1s 0.5s cubic-bezier(.29,.09,.49,.99), transform 3s;
    -webkit-transition: background-color 0.5s, right 1s 0.5s cubic-bezier(.29,.09,.49,.99), transform 3s;
    -moz-transition: background-color 0.5s, right 1s 0.5s cubic-bezier(.29,.09,.49,.99), transform 3s;
    -ms-transition: background-color 0.5s, right 1s 0.5s cubic-bezier(.29,.09,.49,.99), transform 3s;
    -o-transition: background-color 0.5s, right 1s 0.5s cubic-bezier(.29,.09,.49,.99), transform 3s; */
}
.mainWrapper-sort-filter-bloc{
    margin: 1rem 0;
}
.mainWrapper-sort-filter-bloc-title{
    margin: 1rem 0;
}
.mainWrapper-sort-filter-bloc-filterArea{
    display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
}
.mainWrapper-sort-filter-bloc-filterArea-item{
    border: 0.2rem solid  #F2F2F2;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    height: 3.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding-left: 4rem;
    padding-right: 1rem;
    position: relative;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: transform 0.2s, border 0.2s, background-color 0.3s, z-index 0s;
    -webkit-transition: transform 0.2s, border 0.2s, background-color 0.3s, z-index 0s;
    -moz-transition: transform 0.2s, border 0.2s, background-color 0.3s, z-index 0s;
    -ms-transition: transform 0.2s, border 0.2s, background-color 0.3s, z-index 0s;
    -o-transition: transform 0.2s, border 0.2s, background-color 0.3s, z-index 0s;
}
.mainWrapper-sort-filter-bloc-filterArea-item-link-icone{
    background-color: #DEEBFF;
    color: #0065FC;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 3.5rem;
    position: absolute;
    left:-0.2rem;
    top: -0.2rem;
    bottom: -0.2rem;
    width: 3.5rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: color 0.2s, background-color 0.3s;
    -webkit-transition: color 0.2s, background-color 0.3s;
    -moz-transition: color 0.2s, background-color 0.3s;
    -ms-transition: color 0.2s, background-color 0.3s;
    -o-transition: color 0.2s, background-color 0.3s;
}
.mainWrapper-sort-filter-bloc-filterArea-item-link{
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
}
.mainWrapper-sort-filter-bloc-filterArea-item:hover{
    background-color: #F2F2F2;
    border-color:#F2F2F2;
    z-index: 100;
    transform: scale(0.97);
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
}
.mainWrapper-sort-filter-bloc-filterArea-item:hover .mainWrapper-sort-filter-bloc-filterArea-item-link{
    color: #0065FC;    
}
.mainWrapper-sort-filter-bloc-filterArea-item:hover .mainWrapper-sort-filter-bloc-filterArea-item-link-icone{
    background-color: #0065FC;
    color: #ffffff;
}
.mainWrapper-sort-filter-info{
    display: inline-flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    margin: 2rem 0;
}
.mainWrapper-sort-filter-info-icone{
    border: 0.15rem solid #F2F2F2;
    color: #0065FC;
    display: flex;
        align-items: center;
        justify-content: center;
    height: 2rem;
    margin-right: 0.77rem;
    width: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* RECOMMENDATIONS */    
.mainWrapper-accomodation-aside{
    background-color: #F2F2F2;
    padding: 2rem;
}
.mainWrapper-accomodation-aside-title{
    display: flex;
        align-items: center;
        justify-content: space-between;
    font-size: 2rem;
    margin: 2rem 0;
}
.mainWrapper-accomodation-aside-popularArea{
    width: 100%;
}
.mainWrapper-accomodation-aside-popularArea-link{
    background-color: #ffffff;
    border: 0.4rem solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #cccccc;
    display: inline-flex;
        align-items: stretch;
        justify-content: stretch;
    height: 11rem;
    margin: 0.5rem 0;
    max-width: 40rem;
    padding: 1rem 1rem 1rem 12rem;
    position: relative;
    width: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.mainWrapper-accomodation-aside-popularArea-link::after{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    width: 10rem;
    border-radius: 1rem 0 0 1rem;
    -webkit-border-radius: 1rem 0 0 1rem;
    -moz-border-radius: 1rem 0 0 1rem;
    -ms-border-radius: 1rem 0 0 1rem;
    -o-border-radius: 1rem 0 0 1rem;
}
.mainWrapper-accomodation-aside-popularArea-link:nth-of-type(1)::after{
    background-image: url('medias/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}
.mainWrapper-accomodation-aside-popularArea-link:nth-of-type(2)::after{
    background-image: url('medias/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
}
.mainWrapper-accomodation-aside-popularArea-link:nth-of-type(3)::after{
    background-image: url('medias/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}
.mainWrapper-accomodation-aside-popularArea-link-content{
    display:flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
}
.mainWrapper-accomodation-aside-popularArea-link-content-description-title{
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}
.mainWrapper-accomodation-aside-popularArea-link-content-rate-star{
    color: #0065FC;
}
.mainWrapper-accomodation-aside-popularArea-link-content-rate-star-empty{
    color: #F2F2F2;
}
/* ACCOMODATION */
.mainWrapper-accomodation-results{
    padding: 0 2rem;
    margin: 3rem 0;
}
.mainWrapper-accomodation-results-title{
    font-size: 2rem;
    margin: 2rem 0;
}
.mainWrapper-accomodation-results-accomodationArea{
    display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}
.mainWrapper-accomodation-results-accomodationArea-link{
    background-color: #ffffff;
    border: 0.4rem solid #ffffff;
    box-shadow: 0 0 1rem #cccccc;
    display: block;
    height: 17rem;
    margin: 0.5rem 0;
    width: 100%;
    padding: 10rem 1rem 1rem 1rem;
    position: relative;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.mainWrapper-accomodation-results-accomodationArea-link::after{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    right:0;
    top:0;
    height: 10rem;
    left:0;
    border-radius: 1rem 1rem 0 0;
    -webkit-border-radius: 1rem 1rem 0 0;
    -moz-border-radius: 1rem 1rem 0 0;
    -ms-border-radius: 1rem 1rem 0 0;
    -o-border-radius: 1rem 1rem 0 0;
}
.mainWrapper-accomodation-results-accomodationArea-link:nth-of-type(1)::after{
    background-image: url('medias/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}
.mainWrapper-accomodation-results-accomodationArea-link:nth-of-type(2)::after{
    background-image: url('medias/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}
.mainWrapper-accomodation-results-accomodationArea-link:nth-of-type(3)::after{
    background-image: url('medias/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}
.mainWrapper-accomodation-results-accomodationArea-link:nth-of-type(4)::after{
    background-image: url('medias/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}
.mainWrapper-accomodation-results-accomodationArea-link:nth-of-type(5)::after{
    background-image: url('medias/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}
.mainWrapper-accomodation-results-accomodationArea-link:nth-of-type(6)::after{
    background-image: url('medias/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}
.mainWrapper-accomodation-results-accomodationArea-link-content{
    padding: 0.5rem;
    display:flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-around;
    height: 6.5rem;
}
.mainWrapper-accomodation-results-accomodationArea-link-content-title{
    font-size: 1.3rem;
}
.mainWrapper-accomodation-results-accomodationArea-link-content-rate-star{
    color: #0065FC;
}
.mainWrapper-accomodation-results-accomodationArea-link-content-rate-star-empty{
    color: #F2F2F2;
}
.mainWrapper-accomodation-results-more{
    font-size: 1.5rem;
    font-weight: 600;
}
/* ACTIVITY */
.mainWrapper-activity{
    padding: 0 2rem;
    margin: 3rem 0;
}
.mainWrapper-activity-bloc-title{
    font-size: 2rem;
    margin: 2rem 0;
    padding-left: 2rem;
}
.mainWrapper-activity-bloc-activityArea{
    display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}
.mainWrapper-activity-bloc-activityArea-link{
    background-color: #ffffff;
    box-shadow: 0 0 1rem #cccccc;
    display: block;
    height: 17rem;
    margin: 1rem 0;
    padding: 13.5rem 1rem 1rem 1rem;
    position: relative;
    width: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.mainWrapper-activity-bloc-activityArea-link::after{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    right:0;
    top:0;
    height: 12rem;
    left:0;
    border-radius: 1rem 1rem 0 0;
    -webkit-border-radius: 1rem 1rem 0 0;
    -moz-border-radius: 1rem 1rem 0 0;
    -ms-border-radius: 1rem 1rem 0 0;
    -o-border-radius: 1rem 1rem 0 0;
}
.mainWrapper-activity-bloc-activityArea-link:nth-of-type(1)::after{
    background-image: url('medias/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
}
.mainWrapper-activity-bloc-activityArea-link:nth-of-type(2)::after{
    background-image: url('medias/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
}
.mainWrapper-activity-bloc-activityArea-link:nth-of-type(3)::after{
    background-image: url('medias/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
}
.mainWrapper-activity-bloc-activityArea-link:nth-of-type(4)::after{
    background-image: url('medias/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
}
.mainWrapper-activity-bloc-activityArea-link:nth-of-type(5)::after{
    background-image: url('medias/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
}
.mainWrapper-activity-bloc-activityArea-link:nth-of-type(6)::after{
    background-image: url('medias/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
}
.mainWrapper-activity-bloc-activityArea-link-title{
    font-weight: 700;
}
/* FOOTER */
.footer{
    background-color: #F2F2F2;
    margin-top: 2rem;
    padding: 2rem;
}
.footer-textArea{
    margin: 2rem 0;
}
.footer-textArea-title{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.footer-textArea-bloc-content{
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
/* DISPLAY */
.desktop-display{
    display: none;   
}
/* TABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTETABLETTE
 */
@media screen and (min-width: 700px){
    
    /* HEADER */
    .mainHeader{
        display: flex;
            justify-content: center;
            padding: 0 3rem;
    }
    .mainHeader-logo{
        margin: initial;
        order: 1;
    }
    .mainHeader-sub{
       order: 3;
    }
    /* ---nav */
    .mainHeader-nav{ 
        margin-left: auto;
        order: 2;   
        width: initial;
    }
    .mainHeader-nav-bloc-item{ 
        border-bottom: none;       
        border-top:  0.2rem solid #00000000;        
        padding: 2rem;
        width: initial;
    }
    .mainHeader-item-selected{
        border-bottom: none;  
        border-top: 0.2rem solid #0065FC; 
    }
    /* SEARCH */
    .mainWrapper-sort{
        padding: 0 2rem;
    }
    .mainWrapper-sort-search{
        padding: initial;
    }
    .mainWrapper-sort-search-catchphrase{
        font-size: 1.5rem;
        font-weight: 800;
        margin: initial;
    }
    .mainWrapper-sort-search-subCatchphrase{
        margin: 1rem 0;
    }

    
    /* ---form */
    .mainWrapper-sort-search-searchForm{
        margin: 2rem 0;
        width: 40rem;
    }  
    /* .mainWrapper-sort-search-searchForm:hover .mainWrapper-sort-search-searchForm-submit{
        background-color: #dd00ff;
        right: 50rem;
        transform: rotate(12000deg);
        -webkit-transform: rotate(12000deg);
        -moz-transform: rotate(12000deg);
        -ms-transform: rotate(12000deg);
        -o-transform: rotate(12000deg);
    }    */
    .mainWrapper-sort-filter-bloc{
        margin:initial;
    }
    .mainWrapper-sort-filter-info{
        margin: 1.5rem 0;
    }
    /* RECOMMENDATIONS */
    .mainWrapper-accomodation-aside{
        text-align: center;
    }
    .mainWrapper-accomodation-aside-popularArea{
        margin: auto;
        width: 50rem;
    }
    .mainWrapper-accomodation-aside-popularArea-link{
        margin: 0.5rem;
    } 
    .mainWrapper-accomodation-aside-popularArea-link-content{
        display:flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;
    }
    /* ACCOMODATION */ 
    .mainWrapper-accomodation-results-accomodationArea-link{
        margin: 1rem;
        width: 15rem;
    }
    .mainWrapper-accomodation-results-more{
        font-size: 1.2rem;
    }
    /* ACTIVITY */
    .mainWrapper-activity{
        padding: initial;
    }
    .mainWrapper-activity-bloc-activityArea{
        margin: auto;
        max-width: 60rem;
    }
    .mainWrapper-activity-bloc-activityArea-link{
        margin: 1rem;       
    }
    .mainWrapper-activity-bloc-activityArea-link:nth-child(4n+1),
    .mainWrapper-activity-bloc-activityArea-link:nth-child(4n+4){
        width: 55%;
    }
    .mainWrapper-activity-bloc-activityArea-link:nth-child(4n+2),
    .mainWrapper-activity-bloc-activityArea-link:nth-child(4n+3){
        width: 35%;
    }    
    .mainWrapper-activity-bloc-activityArea-link-title{
        font-weight: 600;
        font-size: 1.3rem;
    }
    /* FOOTER */
    .footer{
        display: flex;
            align-items: flex-start;
            flex-direction: row;
            justify-content: space-around;
    }
    .footer-textArea{
        width: calc((100% / 3 ) - 1rem );
    } 
    /* DISPLAY */
    .desktop-display{
        display: initial;
    }
    .mobile-display{
        display: none;
    }
}
/* DESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOPDESKTOP 
*/
@media screen and (min-width: 1350px){    
    /* RECOMMENDATIONS */    
    .mainWrapper-accomodation{       
        display: flex;  
            align-items: stretch;
            flex-direction: row-reverse;
            justify-content: center;
    }
    .mainWrapper-accomodation-aside{
        margin: 0 2rem;
        width: 35%;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}
    .mainWrapper-accomodation-aside-popularArea{
        margin: initial;
        width: 100%;
    }
    .mainWrapper-accomodation-aside-popularArea-link{
        margin: 1rem;
        height: 10rem;
        width: 25rem;
    } 
    .mainWrapper-accomodation-aside-popularArea-link-content-description-title{
        font-size: 1.2rem;
    }
    /* ACCOMODATION */ 
    .mainWrapper-accomodation-results{
        background-color: #F2F2F2;
        margin: 0 2rem;
        padding: 2rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
    .mainWrapper-accomodation-results-accomodationArea-link{
        margin: 2rem;
        width: 16rem;
    }
    /* ACTIVITY */
    .mainWrapper-activity{
        padding: initial;
    }
    .mainWrapper-activity-bloc-activityArea{
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 25rem;
        margin: initial;
        max-width: 100%;
    }   
    /* .mainWrapper-activity-bloc-activityArea-link::after{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        position: absolute;
        right:0;
        top:0;
        height: 12rem;
        left:0;
        border-radius: 1rem 1rem 0 0;
        -webkit-border-radius: 1rem 1rem 0 0;
        -moz-border-radius: 1rem 1rem 0 0;
        -ms-border-radius: 1rem 1rem 0 0;
        -o-border-radius: 1rem 1rem 0 0;
    } */
    .mainWrapper-activity-bloc-activityArea-link:nth-child(4n+1),
    .mainWrapper-activity-bloc-activityArea-link:nth-child(4n+4),
    .mainWrapper-activity-bloc-activityArea-link:nth-child(4n+2),
    .mainWrapper-activity-bloc-activityArea-link:nth-child(4n+3){
        margin: 0;
        max-width: initial;
        width: calc((100% / 4) - 2rem);    
    }   
    .mainWrapper-activity-bloc-activityArea-link:nth-child(6n+1),    
    .mainWrapper-activity-bloc-activityArea-link:nth-child(6n+4){
        padding-top: 22.5rem;
        height: 100%;
    }
    .mainWrapper-activity-bloc-activityArea-link:nth-child(6n+1)::after,
    .mainWrapper-activity-bloc-activityArea-link:nth-child(6n+4)::after{
        height: 21.5rem;
    }
    .mainWrapper-activity-bloc-activityArea-link:nth-child(6n+2){
        padding-top: 10.4rem;
        height: 51%;
    }
    .mainWrapper-activity-bloc-activityArea-link:nth-child(6n+2)::after{
        height: 9.5rem;
    }
    .mainWrapper-activity-bloc-activityArea-link:nth-child(6n+3){
        padding-top: 7.8rem;
        height: 41%;

    }
    .mainWrapper-activity-bloc-activityArea-link:nth-child(6n+3)::after{
        height: 6.8rem;
    }
    .mainWrapper-activity-bloc-activityArea-link:nth-child(6n+5),
    .mainWrapper-activity-bloc-activityArea-link:nth-child(6n+6){
        padding-top: 9rem;
        height: calc(50% - 1rem);
    }
    .mainWrapper-activity-bloc-activityArea-link:nth-child(6n+5)::after,
    .mainWrapper-activity-bloc-activityArea-link:nth-child(6n+6)::after{
        padding-top: initial;
        height: 8rem;
    }
    .mainWrapper-activity-bloc-activityArea-link-title{
        font-weight: 600;
        font-size: 1.2rem;
    }
    /* FOOTER */
    .footer{
        display: flex;
            align-items: flex-start;
            flex-direction: row;
            justify-content: space-around;
    }
    .footer-textArea{
        width: calc((100% / 3 ) - 1rem );
    } 
    /* DISPLAY */
    .desktop-display{
        display: initial;
    }
    .mobile-display{
        display: none;
    }
}
