/* 
main grey : #F2F2F2
main blue : #0065FC
lieghten blue : #DEEBFF
 */

@font-face {
    font-family: "raleway";
    src: url("/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "ralewayItalic";
    src: url("/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}

/* GENERAL */
* {
    box-sizing: border-box;
    margin: initial;
    padding: initial;
    text-align: initial;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-size: 16px;
    font-family: 'raleway', 'arial', 'sans-serif';
}
a{
    color: inherit;
}
/* HEADER */
.mainHeader{
    display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
}
.mainHeader-logo{
    height: 3rem;
    margin: 1.5rem ;
}
.mainHeader-sub{
    color: #0065FC;
    font-weight: 800;
    margin: 1.5rem;
}
/* ---nav */
.mainHeader-nav{    
    width: 100%;
}
.mainHeader-nav-bloc{        
    display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    width: 100%;
}
.mainHeader-nav-bloc-item{       
    border-bottom: 0.2rem solid #F2F2F2;
    font-weight: 500;
    padding: 0.7rem;
    text-align: center;
    width: 50%;
}
.mainHeader-item-selected{
    border-bottom: 0.2rem solid #0065FC;
    color: #0065FC;
}
/* SEARCH */
.mainWrapper-sort{
    padding: 1rem 2rem;
}
.mainWrapper-sort-search{
    padding: 1rem 0;
}
.mainWrapper-sort-search-catchphrase{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0.5rem 0;
}
.mainWrapper-sort-search-subCatchphrase{
    margin: 1rem 0;
}
/* ---form */
.mainWrapper-sort-search-searchForm{
    display: flex;
        align-items: stretch;
        flex-direction: row;
        justify-content: flex-start;
    position: relative;
    width: 100%;
}
.mainWrapper-sort-search-searchForm-icone{
    background-color: #F2F2F2;
    padding: 1.3rem 1.5rem;
    border-radius:1rem 0 0 1rem;
    -webkit-border-radius:1rem 0 0 1rem;
    -moz-border-radius:1rem 0 0 1rem;
    -ms-border-radius:1rem 0 0 1rem;
    -o-border-radius:1rem 0 0 1rem;
}
.mainWrapper-sort-search-searchForm-input{
    border: 0.1rem solid #F2F2F2;
    font-size: 1.2rem;
    font-weight: 600;
    flex: 1;
    padding: 0 1rem;
    margin-right: 3rem;
}
.mainWrapper-sort-search-searchForm-input::placeholder{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1rem;   
    opacity: 1;
}
.mainWrapper-sort-search-searchForm-submit{
    border: none;
    background-color:  #0065FC;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0 1.2rem;
    position: absolute;
    top:0; right:0; bottom:0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.mainWrapper-sort-filter-bloc{
    margin: 1rem 0;
}
.mainWrapper-sort-filter-bloc-title{
    margin: 1rem 0;
}
.mainWrapper-sort-filter-bloc-filterArea{
    display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
}
.mainWrapper-sort-filter-bloc-filterArea-item{
    border: 0.2rem solid  #F2F2F2;
    display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
    height: 3.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding-left: 4rem;
    padding-right: 1rem;
    position: relative;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.mainWrapper-sort-filter-bloc-filterArea-item-link-icone{
    background-color: #DEEBFF;
    color: #0065FC;
    display: inline-flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    height: 3.5rem;
    position: absolute;
    left:-0.2rem; top: -0.2rem; bottom: -0.2rem;
    width: 3.5rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.mainWrapper-sort-filter-info{
    display: inline-flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    margin: 2rem 0;
}
.mainWrapper-sort-filter-info-icone{
    border: 0.15rem solid #F2F2F2;
    color: #0065FC;
    display: flex;
        align-items: center;
        justify-content: center;
    height: 2rem;
    margin-right: 0.77rem;
    width: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* RECOMMENDATIONS */    
.mainWrapper-accomodation-aside{
    background-color: #F2F2F2;
    padding: 2rem;
    text-align: center;
}
.mainWrapper-accomodation-aside-title{
    display: flex;
        align-items: center;
        justify-content: space-between;
    font-size: 2rem;
    margin: 2rem 0;
}
.mainWrapper-accomodation-aside-popularArea{
    width: 100%;
}
.mainWrapper-accomodation-aside-popularArea-link{
    background-color: #ffffff;
    border: 0.4rem solid #ffffff;
    box-shadow: 0 0 1rem #cccccc;
    display: inline-flex;
        align-items: stretch;
        justify-content: stretch;
    height: 11rem;
    margin: 2rem auto;
    max-width: 40rem;
    padding: 1rem 1rem 1rem 12rem;
    position: relative;
    width: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.mainWrapper-accomodation-aside-popularArea-link::after{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    width: 10rem;
    border-radius: 1rem 0 0 1rem;
    -webkit-border-radius: 1rem 0 0 1rem;
    -moz-border-radius: 1rem 0 0 1rem;
    -ms-border-radius: 1rem 0 0 1rem;
    -o-border-radius: 1rem 0 0 1rem;
}
.mainWrapper-accomodation-aside-popularArea-link:nth-of-type(1)::after{
    background-image: url('medias/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}
.mainWrapper-accomodation-aside-popularArea-link:nth-of-type(2)::after{
    background-image: url('medias/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
}
.mainWrapper-accomodation-aside-popularArea-link:nth-of-type(3)::after{
    background-image: url('medias/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}
.mainWrapper-accomodation-aside-popularArea-link-content{
    display:flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
}
.mainWrapper-accomodation-aside-popularArea-link-content-description-title{
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}
.mainWrapper-accomodation-aside-popularArea-link-content-rate-star{
    color: #0065FC;
}
.mainWrapper-accomodation-aside-popularArea-link-content-rate-star-empty{
    color: #F2F2F2;
}
/* ACCOMODATION */
.mainWrapper-accomodation-results{
    padding: 0 2rem;
    margin: 3rem 0;
}
.mainWrapper-accomodation-results-title{
    font-size: 2rem;
    margin: 2rem 0;
}
.mainWrapper-accomodation-results-accomodationArea-link{
    background-color: #ffffff;
    border: 0.4rem solid #ffffff;
    box-shadow: 0 0 1rem #cccccc;
    display: block;
    height: 17rem;
    margin: 2rem 0;
    padding: 10rem 1rem 1rem 1rem;
    position: relative;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.mainWrapper-accomodation-results-accomodationArea-link::after{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    right:0;
    top:0;
    height: 10rem;
    left:0;
    border-radius: 1rem 1rem 0 0;
    -webkit-border-radius: 1rem 1rem 0 0;
    -moz-border-radius: 1rem 1rem 0 0;
    -ms-border-radius: 1rem 1rem 0 0;
    -o-border-radius: 1rem 1rem 0 0;
}
.mainWrapper-accomodation-results-accomodationArea-link:nth-of-type(1)::after{
    background-image: url('medias/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}
.mainWrapper-accomodation-results-accomodationArea-link:nth-of-type(2)::after{
    background-image: url('medias/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}
.mainWrapper-accomodation-results-accomodationArea-link:nth-of-type(3)::after{
    background-image: url('medias/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}
.mainWrapper-accomodation-results-accomodationArea-link:nth-of-type(4)::after{
    background-image: url('medias/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}
.mainWrapper-accomodation-results-accomodationArea-link:nth-of-type(5)::after{
    background-image: url('medias/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}
.mainWrapper-accomodation-results-accomodationArea-link:nth-of-type(6)::after{
    background-image: url('medias/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}
.mainWrapper-accomodation-results-accomodationArea-link-content{
    padding: 0.5rem;
    display:flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-around;
    height: 6.5rem;
}
.mainWrapper-accomodation-results-accomodationArea-link-content-title{
    font-size: 1.3rem;
    /* margin-bottom: 0.3rem; */
}
.mainWrapper-accomodation-results-accomodationArea-link-content-rate-star{
    color: #0065FC;
}
.mainWrapper-accomodation-results-accomodationArea-link-content-rate-star-empty{
    color: #F2F2F2;
}
.mainWrapper-accomodation-results-more{
    font-size: 1.5rem;
    font-weight: 800;
}
/* ACTIVITY */
.mainWrapper-activity{
    padding: 0 2rem;
    margin: 3rem 0;
}
.mainWrapper-activity-bloc-title{
    font-size: 2rem;
    margin: 2rem 0;
    padding-left: 2rem;
}
.mainWrapper-activity-bloc-activityArea-link{
    background-color: #ffffff;
    box-shadow: 0 0 1rem #cccccc;
    display: block;
    height: 17rem;
    margin: 2rem 0;
    padding: 13.5rem 1rem 1rem 1rem;
    position: relative;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.mainWrapper-activity-bloc-activityArea-link::after{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    right:0;
    top:0;
    height: 12rem;
    left:0;
    border-radius: 1rem 1rem 0 0;
    -webkit-border-radius: 1rem 1rem 0 0;
    -moz-border-radius: 1rem 1rem 0 0;
    -ms-border-radius: 1rem 1rem 0 0;
    -o-border-radius: 1rem 1rem 0 0;
}
.mainWrapper-activity-bloc-activityArea-link:nth-of-type(1)::after{
    background-image: url('medias/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
}
.mainWrapper-activity-bloc-activityArea-link:nth-of-type(2)::after{
    background-image: url('medias/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
}
.mainWrapper-activity-bloc-activityArea-link:nth-of-type(3)::after{
    background-image: url('medias/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
}
.mainWrapper-activity-bloc-activityArea-link:nth-of-type(4)::after{
    background-image: url('medias/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
}
.mainWrapper-activity-bloc-activityArea-link:nth-of-type(5)::after{
    background-image: url('medias/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
}
.mainWrapper-activity-bloc-activityArea-link:nth-of-type(6)::after{
    background-image: url('medias/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
}
.mainWrapper-activity-bloc-activityArea-link-title{
    font-weight: 700;
}
/* FOOTER */
.footer{
    background-color: #F2F2F2;
    margin-top: 2rem;
    padding: 2rem;
}
.footer-textArea{
    margin: 2rem 0;
}
.footer-textArea-title{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.footer-textArea-bloc-content{
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
/* DISPLAY */
.desktop-display{
    display: none;   
}
@media screen and (min-width: 700px){
    
    /* HEADER */
    .mainHeader{
        display: flex;
            justify-content: center;
            padding: 0 3rem;
    }
    .mainHeader-logo{
        margin: initial;
        order: 1;
    }
    .mainHeader-sub{
       order: 3;
    }
    /* ---nav */
    .mainHeader-nav{ 
        margin-left: auto;
        order: 2;   
        width: initial;
    }
    .mainHeader-nav-bloc-item{       
        border-bottom: none;        
        padding: 2rem;
        width: initial;
    }
    .mainHeader-item-selected{
        border-bottom: none;  
        border-top: 0.2rem solid #0065FC; 
    }
    /* SEARCH */
    .mainWrapper-sort{
        padding: 0 2rem;
    }
    .mainWrapper-sort-search{
        padding: initial;
    }
    .mainWrapper-sort-search-catchphrase{
        font-size: 1.5rem;
        font-weight: 800;
        margin: initial;
    }
    .mainWrapper-sort-search-subCatchphrase{
        margin: 1rem 0;
    }
    /* ---form */
    .mainWrapper-sort-search-searchForm{
        margin: 2rem 0;
        width: 40rem;
    }
    .mainWrapper-sort-filter-bloc{
        margin:initial;
    }
    .mainWrapper-sort-filter-info{
        margin: 1.5rem 0;
    }





    
    /* RECOMMENDATIONS */    
    .mainWrapper-accomodation-aside-popularArea{
        margin: auto;
        width: 50rem;
    }
    .mainWrapper-accomodation-aside-popularArea-link{
        margin: 2rem;
    }
    .mainWrapper-accomodation-aside-popularArea-link::after{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        width: 10rem;
        border-radius: 1rem 0 0 1rem;
        -webkit-border-radius: 1rem 0 0 1rem;
        -moz-border-radius: 1rem 0 0 1rem;
        -ms-border-radius: 1rem 0 0 1rem;
        -o-border-radius: 1rem 0 0 1rem;
    }
    .mainWrapper-accomodation-aside-popularArea-link:nth-of-type(1)::after{
        background-image: url('medias/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    }
    .mainWrapper-accomodation-aside-popularArea-link:nth-of-type(2)::after{
        background-image: url('medias/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
    }
    .mainWrapper-accomodation-aside-popularArea-link:nth-of-type(3)::after{
        background-image: url('medias/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
    }
    .mainWrapper-accomodation-aside-popularArea-link-content{
        display:flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;
    }
    .mainWrapper-accomodation-aside-popularArea-link-content-description-title{
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
    }
    .mainWrapper-accomodation-aside-popularArea-link-content-rate-star{
        color: #0065FC;
    }
    .mainWrapper-accomodation-aside-popularArea-link-content-rate-star-empty{
        color: #F2F2F2;
    }
    /* DISPLAY */
    .desktop-display{
        display: initial;
    }
    .mobile-display{
        display: none;
    }
}
